* {
    margin: 0px;
    padding: 0px;
}

ul {
    list-style: none;
}

.container {
    width: 375px;
    background-color: lightgray;
    margin: 0 auto;
    height: 2500px;
}

.top {
    height: 339px;
    background-color: white;
    position: relative;
}

.top-background {
    height: 319px;
    background-image: url("./assets/bg.jpg");
    background-size: cover;
}

.avata {
    position: absolute;
    top: 268px;
    right: 12px;
    width: 71px;
    height: 71px;
    border-radius: 6px;
    background-image: url("http://d.hiphotos.baidu.com/image/pic/item/77094b36acaf2edda08f1b55801001e93901930b.jpg");
    background-size: cover;
}

.username {
    position: absolute;
    top: 283px;
    right: 107px;
    height: 24px;
    font-size: 17px;
    color: #fff;
    font-family: PingFangSC-Semibold;
}

.moment {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid #F3F3F3;
}

.left {
    background-color: lightseagreen;
    width: 44px;
}

.right {
    background-color: lightskyblue;
    width: 301px;
}

.icon {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    background-size: cover;
    background-color: lightsalmon;
}

.nickname {
    margin-top: 2px;
    color: #4D638F;
    font-family: PingFangSC-Regular;
    font-size: 17px;
}

.content {
    margin-top: 10px;
    color: #121212;
    font-family: PingFangSC-Regular;
    font-size: 17px;
}

.gridimages {
    width: 250px;
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    column-gap: 5px;
    row-gap: 5px;
}

.gridimages div:nth-child(1) {
    background-color: blanchedalmond;
}

.gridimages div:nth-child(2) {
    background-color: rebeccapurple;
}

.gridimages div:nth-child(3) {
    background-color: firebrick;
}

.gridimages div:nth-child(4) {
    background-color: chartreuse;
}

.gridimages div:nth-child(5) {
    background-color: chocolate;
}

.gridimages div:nth-child(6) {
    background-color: cyan;
}

.gridimages div:nth-child(7) {
    background-color: wheat;
}

.gridimages div:nth-child(8) {
    background-color: gold;
}

.gridimages div:nth-child(9) {
    background-color: rosybrown;
}

.toolbar {
    display: flex;
    height: 36px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: navy;
}

.time {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #B7B7B7;
}

.menu {
    width: 29px;
    height: 19px;
    background-image: url("./assets/star.png");
    background-size: cover;
}

.feedback {
    margin-bottom: 13.9px;
    height: 61px;
    background: #F3F3F5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.like {
    font-family: PingFangSC-Medium;
    font-size: 15px;
    color: #536892;
}


/* .pa::before {
    display: inline-block;
    content: ''; 
    vertical-align: middle;
    background-image: url("http://smt-cdn.yun.city.pingan.com/isz/app/icon/homepage/20190829/gongjiaochuxing.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 15px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
} */

.like::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-image: url("./assets/star_small.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-right: 7px;
    width: 11px;
    height: 9.8px;
}