* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center
}

.line {
    height: 1px;
    background-color: gray;
    margin-bottom: 5px;
}

#navi {
    white-space: nowrap;
    overflow-x: scroll;
    background-color: rgb(27, 109, 196);
}

div > span {
    font-size: 20px;
    color: whitesmoke;
    padding-left: 20px;
    /* padding-right: 5px; */
    /* border: 1px solid lightblue; */
    text-align: center;
}

#f {
    padding-right: 20px;
}

.btn {
    border: 2px solid blue;
    color: white;
    background-color: cornflowerblue;
    text-align: center;
    padding: 5px;
    margin: 50px 80px;
}