div {
    background-color: lightgray;
}

div > p {
    text-align: center;
    margin: 0px;
    padding: 5px;
}

div > p:nth-child(1) {
    background-color: greenyellow;
}

.test > p:nth-child(2) {
    background-color: sienna;
    position: relative;
    top:10px;
    left: 40px;
}

div > p:nth-child(3) {
    background-color: cadetblue;
}