* {
    padding: 10px 15px;
    background-color: white;
    margin: 5px 5px;
}

body {
    background-color: lightgray;
}

.title {
    border: tomato dashed 1px;
    height: 30px;
}

.container {
    padding: 0px;
    display: flex;
}

.ele1 {
    margin: 0px;
    background-color: tomato;
}

.ele2 {
    margin: 0px;
    background-color: blue;
}

.ele3 {
    margin: 0px;
    background-color: sienna;
}