body {
    background-color: antiquewhite
}

h1 {
    text-align: center;
    color: black
}

h2 {
    color: rgba(0, 0, 0, 0.8)
}

hr {
    color: gray
}

.code {
    border-left: 5px solid cornflowerblue;
    border-radius: 3px;
    background-color: darkred;
    color: whitesmoke;
    padding: 10px;
}